Source: icaro
Section: devel
Priority: optional
Maintainer: Miguel Angel Garcia <miguel.garcia@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, quilt, python-support
Standards-Version: 3.9.3
Homepage: http://roboticaro.org/

Package: icaro
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pygame, pywebkitgtk,
 pygtksourceview, sdcc, gputils, pyusb, python-tools, sugar-turtleart, pyserial
Description: ICARO is a robotic educational project
 Icaro is a software developed with the intention of bringing,
 in a transparent manner to the user the basics of programming 
 (iterations, repetition, recursion, if conditional) of a 
 physical context such as a robot or automation system.
