Source: icaro
Section: devel
Priority: optional
Maintainer: Miguel Angel Garcia <miguel.garcia@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, quilt, python-support
Standards-Version: 3.9.3
Homepage: http://roboticaro.org/

Package: icaro
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-pygame,
 python-webkit,python-gtksourceview2, sdcc, gputils, python-usb, python-pytools,
 turtleart, python-serial
Replaces: apicaro, tortucaro
Description: Robotic educational project
 Icaro is a software developed with the intention of bringing,
 in a transparent manner to the user the basics of programming 
 (iterations, repetition, recursion, if conditional) of a 
 physical context such as a robot or automation system.
