Source: icaro
Section: devel
Priority: optional
Maintainer: Fernando Toledo <ragnarok@docksud.com.ar>
Build-Depends: debhelper (>= 9.0.0), dh-python, python-all, python-setuptools
Standards-Version: 3.9.6
Homepage: http://roboticaro.org/

Package: icaro
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
  gputils,
  idle,
  python-gtksourceview2,
  python-pygame,
  python-pytools,
  python-rsvg,
  python-serial,
  python-usb,
  python-webkit,
  sdcc,
  sdcc-libraries,
  turtleart,
Replaces: apicaro, tortucaro
Description: Robotic educational project
 Icaro is a software developed with the intention of bringing,
 in a transparent manner to the user the basics of programming
 (iterations, repetition, recursion, if conditional) of a
 physical context such as a robot or automation system.
