[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Icaro
Comment=
Terminal=false
Type=Application
Categories=GTK;Development;Education;
Icon=icarologo
Exec=icaro
Name[es]=Icaro
Description[es]: Robótica educativa con software y hardware libre 