#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with-quilt

override_dh_install:
	mkdir debian/tmproot
	apicaro/setup.py install --root=debian/tmproot
	dh_install

override_dh_auto_build:

override_dh_auto_install:
